<launch>
  <!-- Main nodes for this package -->
  <node pkg="boat_interfaces" type="boat_state_controller_node.py"
    name="boat_state_controller" >
  </node>
  <node pkg="boat_interfaces" type="rudder_node.py"
    name="rudder" >
  </node> 
  <node pkg="boat_interfaces" type="winch_node.py"
    name="winch" >
  </node>
  <node pkg="boat_description" type="joy.py"
    name="joy" output="screen">
  </node>
</launch>
