<launch>
<arg name="controller" default="/dev/ttyUSB0" />
  <!-- Main nodes to run simulator -->
  <node pkg="boat_description" type="vis.py" args="-j"
    name="visualizer" >
  </node>
  <node pkg="boat_nav" type="sensor_parser_node.py"
    name="sensor_parser" >
  </node>
  
   <!-- receiver_reader.py interfaces with the RC controller's receiver over serial -->
  <node pkg="boat_interfaces" type="receiver_reader.py" 
    args="$(arg controller)" name="receiver" output="screen">
  </node>
</launch>
