<launch>

<!-- This all uses the pid package - wiki.ros.org/pid -->
<node ns="rudder_pid" name="controller" pkg="pid" type="controller">
  <param name="Kp" value="1.0"/>
  <param name="Ki" value="0.0"/>
  <param name="Kd" value="0.0"/>
  <param name="upperLimit" value="150"/>	<!-- The maximum allowable angle of the rudder servo -->
  <param name="lowerLimit" value="30"/>		<!-- The minimum allowable angle of the rudder servo -->
  <param name="windupLimit" value="0" />	<!-- The limit of the integral term buildup -->
  <param name="max_loop_frequency" value="1000"/>	<!-- The maximum expected frequency (Hz) of input sensor updates -->
  <param name="min_loop_frequency" value="1"/>		<!-- The minimum expected frequency (Hz) of input sensor updates -->
  
  <!-- Set the topics used to interface with this controller -->
  <param name="topic_from_controller" value="output"/>	<!-- std_msgs/Float64 -->
  <param name="pid_enable_topic" value="enable"/>		<!-- std_msgs/Bool -->
  <param name="setpoint_topic" value="setpoint"/>		<!-- std_msgs/Float64 -->
  <param name="topic_from_plant" value="input"/>			<!-- std_msgs/Float64 -->
  <!-- Note above that we can't read a specific value from the GPS message, so we have to republish gps_raw.track in a new topic -->
  
</node>
</launch>
