<!-- Full system launch file -->
<launch>
  <arg name="vision" default="false" />

  <!-- Arduino connection nodes -->
  <include file="$(find boat_interfaces)/launch/arduino.launch" />

  <!-- Boat Interface nodes -->
  <include file="$(find boat_interfaces)/launch/interfaces_base.launch" />

  <!-- Boat Navigation nodes -->
  <include file="$(find boat_nav)/launch/nav.launch" />

  <!-- Boat Vision nodes -->
  <group if="$(arg vision)">
    <include file="$(find boat_vision)/launch/vision.launch" />
    <!-- TODO: Pass through params for debug -->
  </group>

</launch>
