<!-- Phidgets IMU launch file -->

<launch>

#### Nodelet manager ######################################################

<node pkg="nodelet" type="nodelet" name="imu_manager"
args="manager" output="screen" />

#### IMU Driver ###########################################################

<node pkg="nodelet" type="nodelet" name="phidgets_imu_nodelet"
args="load phidgets_imu/PhidgetsImuNodelet imu_manager"
output="screen">

# supported data rates: 4 8 16 24 32 40 ... 1000 (in ms)
<param name="period" value="4"/>

# optional param serial_number, default is -1
<!-- <param name="serial_number" value="123456"/> -->

# compass correction params (see http://www.phidgets.com/docs/1044_User_Guide)
# run compass calibration script in boat_interfaces/tools/calibration to populate these
<param name="cc_mag_field" value="2.420078"/>
