<!-- Navigation Path Planning launch file -->
<launch>
  <node pkg="boat_nav" type="path_planner_node.py" name="path_planner"/>
  <node pkg="boat_nav" type="navigator_node.py" name="navigator" output="screen"/>
  <node pkg="boat_nav" type="sensor_parser_node.py" name="sensor_parser"/>
  <node pkg="boat_nav" type="max_vmg_action.py" name="max_vmg_action" output="screen"/>
</launch>
