<!-- Launch file for viewing image and stereo data -->
<launch>
  <node name="image_view0" pkg="image_view" type="image_view" respawn="false" output="screen">
     <remap from="image" to="/usb_cam0/image_raw"/>
     <param name="autosize" value="true" />
  </node> 
  <node name="image_view1" pkg="image_view" type="image_view" respawn="false" output="screen">
     <remap from="image" to="/usb_cam1/image_raw"/>
     <param name="autosize" value="true" />
  </node>

  <node name="stereo_view" pkg="image_view" type="stereo_view" respawn="false" output="screen" args="_approximate_sync:=True" >
     <remap from="stereo" to="stereo" />
     <remap from="image" to="image_rect" />
  </node>
</launch>
